@media only screen and (max-width: 1200px){
    


} 

@media (min-width:981px) and (max-width:1025px){

}
@media (min-width:768px) and (max-width:980px){

}

@media (min-width:320px) and (max-width: 767px){
    .main-content {
      margin-left: 0px!important;
      transition: margin-left 500ms;
      }
   .title-logo {
     font-size: 17px!important;
     padding: 6px 0;
     }
    .mobileview{
    left:-252px!important;
    }
    .mobileview-e{
    left:0px!important;
    }
    .main-i {
    background: #f1f5f9;
    min-height: 100vh;
    padding: 1px 0rem;
   }
   .main-form-slide {
    padding: 0;
  }
  .card-header-f {
     padding: 0.75rem 1.25rem;
   }
   #form-mt-footer {
    padding: 16px;
  }
  .formp-body {
    padding: 40px 16px;
  }
  .customcontrolche label {
    font-size: 13px;
  }
  .sidebar-btn {
    padding-top: 5px;
   }
  .heder-dark {
    padding: 8px 1px;
    }
    ::-webkit-scrollbar {
    width:5px;
   }
   
.sidebar-btn {
    margin-top: 2px;
}
.overly-main {
    width: 100%;
    height: 100vh;
    background: #463c3c1c;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    bottom: 0;
}
.overly-main-d{
  display:block;
}

.box .expanded{
  display: none;
}

.buton-add-new button {
    width: 100%;
}
.title-left-top-table h4 {
    font-size: 24px;
   
}
.table-head-right button {
    color: #fff;
    margin-top: 19px;
    width: 100%;
    box-shadow: 0 3px 5px 0 rgb(210 89 100);
    border-radius: 4px;
    /* background-color: #bc0819ab; */
     padding: 4px; 
    border-color: #dc3545;
}
.activiti-card td input {
    margin-right: 10px;
}
}